<a href="https://colab.research.google.com/github/karthikeyanthanigai/Breast-cancer-Prediction-Logistic-Regression/blob/master/breast_cancer_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Importing the Dataset
Dataset = pd.read_csv("breast_cancer_dataset.csv")
X = Dataset.iloc[:, :-1].values
y = Dataset.iloc[:, [-1]].values
Dataset.describe()

       clump_thickness  uniformity_of_cell_size  ...     mitosis       class
count       569.000000               569.000000  ...  569.000000  569.000000
mean          4.539543                 3.184534  ...    1.637961    2.731107
std           2.896501                 3.002236  ...    1.773941    0.964018
min           1.000000                 1.000000  ...    1.000000    2.000000
25%           2.000000                 1.000000  ...    1.000000    2.000000
50%           4.000000                 1.000000  ...    1.000000    2.000000
75%           6.000000                 5.000000  ...    1.000000    4.000000
max          10.000000                10.000000  ...   10.000000    4.000000

[8 rows x 10 columns]

this are the parameters(independent variables ) for this data.

In [0]:
#feature scale our independent variables 
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [0]:
#Splitting the dataset into training and testing set
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=32, shuffle=True)

In [7]:
#Logistic Regression model. 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000, random_state = 32, multi_class='ovr', solver='liblinear')
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=32, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#predict our test set
y_pred = classifier.predict(X_test)

In [9]:
#evaluating our model.
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
acc_train = accuracy_score(y_train, classifier.predict(X_train))
f1_train = f1_score(y_train, classifier.predict(X_train), average= 'weighted')

print("Traing set results")
print("ACCURACY for train set",acc_train)
print("F1 SCORE for train set",f1_train)

Traing set results
ACCURACY for train set 0.9623115577889447
F1 SCORE for train set 0.9623921110515974

In [10]:

#evaluate our test set
acc_test = accuracy_score(y_test, y_pred)
f1_test = f1_score(y_test, y_pred, average= 'weighted')

print("Test set results")
print("ACCURACY for test set",acc_test)
print("F1 SCORE for test set",f1_test)

Test set results
ACCURACY for test set 0.9532163742690059
F1 SCORE for test set 0.952678994784258

In [11]:
#Confusion Matrix 
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[107   1]
 [  7  56]]